body {
  font-family: "Apple Braille", sans-serif, Arial;
  font-size: 16px;
  width: 100%;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.menu-drawer{
  color: #0d47a1;
}
paper-item:hover {
  background-color: darkgrey;
}
.outlet {

}






