:host {
  display: flex;
  flex-direction: column;
}

vaadin-grid {
  flex: 1;
  --vaadin-grid-row-height: 50px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
}

vaadin-grid /deep/ thead.vaadin-grid-header th {
  background: #37474F !important;
  color: #ccc !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
}

vaadin-grid.vaadin-grid-header th{
  background: #37474F;
  color: #ccc;
  font-size: 1.2em;
  font-weight: 400;
}
po-search-filter {
  background-color: ghostwhite;
}

